.ProgressBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background: var(--breadcrumbs-background);

    @include before-desktop {
        display: none;
    }
}
