.ProgressBarCheckpoint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  font-size: 1.25rem;

  .Id {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    color: $white;
    background: $default-primary-base-color;
    border: 10px solid var(--breadcrumbs-background);
  }
  
  .Title {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    color: $black;
  }

  &.Grayed {
    .Id {
        color:rgb(150, 150, 150);
        background: rgb(190, 190, 190);
    }

    .Title {
        color: rgb(150, 150, 150);
    }
  }
}
